<!doctype html>
<html ng-app="Demo" ng-controller="DemoController">
<head>
	<meta charset="utf-8" />

	<title>
		Grouping Nested ngRepeat Lists In AngularJS
	</title>
</head>
<body>

	<h1>
		Grouping Nested ngRepeat Lists In AngularJS
	</h1>

	<p>
		Group by:
		<a ng-click="groupBy( 'gender' )">Gender</a> -
		<a ng-click="groupBy( 'hair' )">Hair</a>
	</p>

	<!-- BEGIN: Outer ngRepeat. -->
	<div ng-repeat="group in groups">

		<h2>
			{{ group.label }}
		</h2>

		<ul>
			<!-- BEGIN: Inner ngRepeat. -->
			<li ng-repeat="friend in group.friends">

				{{ friend.name }}

			</li>
			<!-- END: Inner ngRepeat. -->
		</ul>

	</div>
	<!-- END: Outer ngRepeat. -->



	<!-- Load jQuery and AngularJS from the CDN. -->
	<script
		type="text/javascript"
		src="//code.jquery.com/jquery-1.9.1.min.js">
	</script>
	<script
		type="text/javascript"
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js">
	</script>

	<!-- Load the app module and its classes. -->
	<script type="text/javascript">


		// Define our AngularJS application module.
		var demo = angular.module( "Demo", [] );


		// -------------------------------------------------- //
		// -------------------------------------------------- //


		// I am the main controller for the application.
		demo.controller(
			"DemoController",
			function( $scope, $timeout ) {


				// -- Define Controller Methods. ------------ //


				// I sort the given collection on the given property.
				function sortOn( collection, name ) {

					collection.sort(
						function( a, b ) {

							if ( a[ name ] <= b[ name ] ) {

								return( -1 );

							}

							return( 1 );

						}
					);

				}


				// -- Define Scope Methods. ----------------- //


				// I group the friends list on the given property.
				$scope.groupBy = function( attribute ) {

					// First, reset the groups.
					$scope.groups = [];

					// Now, sort the collection of friend on the
					// grouping-property. This just makes it easier
					// to split the collection.
					sortOn( $scope.friends, attribute );

					// I determine which group we are currently in.
					var groupValue = "_INVALID_GROUP_VALUE_";

					// As we loop over each friend, add it to the
					// current group - we'll create a NEW group every
					// time we come across a new attribute value.
					for ( var i = 0 ; i < $scope.friends.length ; i++ ) {

						var friend = $scope.friends[ i ];

						// Should we create a new group?
						if ( friend[ attribute ] !== groupValue ) {

							var group = {
								label: friend[ attribute ],
								friends: []
							};

							groupValue = group.label;

							$scope.groups.push( group );

						}

						// Add the friend to the currently active
						// grouping.
						group.friends.push( friend );

					}

				};


				// -- Define Scope Variables. --------------- //


				// I am the raw collection of friends.
				$scope.friends = [
					{
						name: "Michael",
						gender: "Male",
						hair: "Brunette"
					},
					{
						name: "George Michael",
						gender: "Male",
						hair: "Brunette"
					},
					{
						name: "Gob",
						gender: "Male",
						hair: "Brunette"
					},
					{
						name: "Tobias",
						gender: "Male",
						hair: "Black"
					},
					{
						name: "Lindsay",
						gender: "Female",
						hair: "Blonde"
					},
					{
						name: "Maeby",
						gender: "Female",
						hair: "Black"
					}
				];

				// I am the grouped collection. Each one of these
				// will contain a sub-collection of friends.
				$scope.groups = [];


			}
		);


	</script>

</body>
</html>

.controller(ng-controller="SettingsController", scroll-To-Controller, track-View)

	.product-navigation.fixedsticky

		.product-navigation-list.flex--space-between

			a.product-navigation-list-enclosure.flex.flex--align-items-center(back)

				span.icon.chevron-left-clarity-22
					| Back

			//-@.enclosure
			
			.product-navigation-list-enclosure.flex.flex--align-items-center

				span.logo.nsw-crest-bright-red-22
					| NSW

			//-@.enclosure

			.product-navigation-list-enclosure.flex--grow

				span.product-navigation-list-enclosure__title
					| Settings

			//-@.enclosure

			.product-navigation-list-enclosure--hidden

				span.logo.nsw-crest-bright-red-22
					| Hidden

			//-@.enclosure

		//-@.list

	//-@.navigation

	.product-content
				
		ang-accordion

			collapsible-item.accordion-pane(title="My user type")

				article.accordion-pane-content
					
					:markdown
						Choose landholder/resident if you are interested in weeds 
						generally. These users can report weeds to their local weeds officer.
						
						Choose weeds professional if you have a work-related interest in weeds. 
						These users can share information from this app with others.
					

				//-@.content
				
				.form--edit
		
					.form--edit-content
		
						.form--edit-content-row
		
							.form--edit-content-row-header
		
								span.form--edit-content-row-header__title
									| Set your user type
		
							//-@.content
		
							label.form--edit-content-row-block
			
								.form--edit-content-row-block-enclosure.flex--grow
			
									.form--edit-content-row-block-enclosure-item
			
										span.form--edit-content-row-block-enclosure-item__title
											| Weeds professional
			
								//-@.enclosure
			
								.form--edit-content-row-block-enclosure
			
									.form--edit-content-row-block-enclosure-item
			
										input.form__input--radio(name="user_type",ng-model="session.user_type",value="wp",type="radio")
			
								//-@.enclosure
			
							//-@.row
			
							label.form--edit-content-row-block
			
								.form--edit-content-row-block-enclosure.flex--grow
			
									.form--edit-content-row-block-enclosure-item
			
										span.form--edit-content-row-block-enclosure-item__title
											| Landholder/resident
			
								//-@.enclosure
			
								.form--edit-content-row-block-enclosure
			
									.form--edit-content-row-block-enclosure-item
			
										input.form__input--radio(name="user_type",ng-model="session.user_type",value="lr",type="radio")
			
								//-@.enclosure
			
							//-@.row
						
						//-@.row
		
					//-@.content
				
				//-@.form

			//-@.pane

		//-@.accordion
		
		ang-accordion

			collapsible-item.accordion-pane(title="My area(s) of interest")

				article
					
						.product-content(ng-controller="ProductSearchController")

							.product-browse

								.product-browse-list

									.product-browse-list-enclosure.flex--grow

										.alpha(alpha-list filterBy='Name')

										//-@.alpha

									//@.enclosure

								//-@.list

							//-@.browse

							.product-results.util.overflow

								ul.product-results-selectable-list(hidden-Until-Loaded)

									li.product-results-selectable-list-enclosure(ng-repeat="item in filtered_list|filter:{Name:search_query}")

										label.product-results-selectable-list-enclosure-item
					
											.product-results-selectable-list-enclosure-item-column
					
												.form
					
													input.form__checkbox(ng-checked="checkControlArea(item.Id)",ng-click="filterControlAreas($event,item.Id)",type="checkbox")
					
												//-@.form
					
											//-@.column
					
											.product-results-selectable-list-enclosure-item-column
					
												span.product-results-selectable-list-enclosure-item-column__titlex
													{{ item.Name + ' - ' }} 

													span(data-ng-repeat="parent in filtered_list| filter: {ParentID : parent.Id}")
														{{ parent.Name  }}


												//-@.column	
					
											//-@.column

										//-@.item

									//-@.enclosure											

								//-@.selectable-list

								span(ng-repeat="id in ids")

								span.product-results__title(ng-show="(filtered_list|filter:{Name:search_query}).length==0||filtered_list.length==0")
									| No results match your criteria

							//-@.results

						//-@.content
				
					//-@.row

				//-@.card

			//-@.pane

		//-@.accordion
		
		ang-accordion(ng-if="session.user_type=='lr'")

			collapsible-item.accordion-pane(title="Details of my local council weeds officer")
				
				form.form--edit(name="form_set_officer_email",novalidate)
		
					.form--edit-content
		
						label.form--edit-content-row
		
							.form--edit-content-row-header
		
								span.form--edit-content-row-header__title
									| Edit local council weeds officer's email address
		
							//-@.content
		
							.form--edit-content-row-content
		
								.form--edit-content-row-content-item
		
									input.form__input--field(ng-model="session.officer_email",placeholder="yourname@example.com",type="email", toggle-Fixed-Header)
		
								//-@.item
		
							//-@.enclosure
		
						//-@.row
		
					//-@.content
		
				//-@.form
				
				form.form--edit(name="form_set_officer_phone",novalidate)
		
					.form--edit-content
		
						label.form--edit-content-row
		
							.form--edit-content-row-header
		
								span.form--edit-content-row-header__title
									| Edit local council weeds officer's mobile number
		
							//-@.content
		
							.form--edit-content-row-content
		
								.form--edit-content-row-content-item
		
									input.form__input--field(ng-model="session.officer_phone",ng-pattern='/^[\u0030-\u0039]+$/',placeholder="0212341234",required,type="tel", toggle-Fixed-Header)
		
								//-@.item
		
							//-@.enclosure
		
						//-@.row
		
					//-@.content
		
				//-@.form

			//-@.pane

		//-@.accordion
		
		ang-accordion

			collapsible-item.accordion-pane(title="My details")
				
				form.form--edit(name="form_set_user_phone",novalidate)
		
					.form--edit-content
		
						label.form--edit-content-row
		
							.form--edit-content-row-header
		
								span.form--edit-content-row-header__title
									| Edit your phone number
		
							//-@.content
		
							.form--edit-content-row-content
		
								.form--edit-content-row-content-item
		
									input.form__input--field(ng-model="session.user_phone",ng-pattern='/^[\u0030-\u0039]+$/',placeholder="0212341234",required,type="tel", toggle-Fixed-Header)
		
								//-@.item
		
							//-@.enclosure
		
						//-@.row
		
					//-@.content
		
				//-@.form
				
				form.form--edit(name="form_set_user_email",novalidate)
		
					.form--edit-content
		
						label.form--edit-content-row
		
							.form--edit-content-row-header
		
								span.form--edit-content-row-header__title
									| Edit your email address
		
							//-@.content
		
							.form--edit-content-row-content
		
								.form--edit-content-row-content-item
		
									input.form__input--field(ng-model="session.user_email",placeholder="yourname@example.com",ng-required,type="email", toggle-Fixed-Header)
		
								//-@.item
		
							//-@.enclosure
		
						//-@.row
		
					//-@.content
		
				//-@.form
				
				form.form--edit(name="form_set_user_website",novalidate,ng-if="session.user_type=='wp'")
		
					.form--edit-content
		
						label.form--edit-content-row
		
							.form--edit-content-row-header
		
								span.form--edit-content-row-header__title
									| Edit your organisation's website URL
		
							//-@.content
		
							.form--edit-content-row-content
		
								.form--edit-content-row-content-item
		
									input.form__input--field(ng-model="session.user_website",placeholder="http://www.example.com",ng-required,type="text", toggle-Fixed-Header)
		
								//-@.item
		
							//-@.enclosure
		
						//-@.row
		
					//-@.content
		
				//-@.form

			//-@.pane

		//-@.accordion

	//-@.content

